/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* begin page css */

body {
  background-color: #eceef1; 
  font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
}

.log-in-container {
  float: none;
  padding: 10px 30px 10px 30px;
  height: 40px;
}

.log-in-elements {
  float: right;
  color:#505050;
}

.log-in-text-container {
  float: left;
  margin-left: 10px;
  text-align: right;
}

.sign-in-btn-container {
  float: right;
  margin-left: 10px;
}

#recovery-link {
  color: #0077c5;
  text-decoration: none;
}

#sign-in-button {
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  padding: 0 20px;
  color: white;
  cursor: pointer;
  font-size: 1.125em;
  font-weight: normal;
  height: 34px;
  outline: none;
  text-align: right;
}

.sign-in-lock {
  background-image:  url("../images/sign-in-lock.png");
  height: 1.5em;
  width: 1.1em;
  margin-right: 2px;
  vertical-align: text-top;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat; 
}

